ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
USE_INMEMORY_DATABASE=false

LOKI_URI=http://loki:3100
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

PGSQL_USER=postgres
PGSQL_PASSWORD=postgres

PGSQL_AUTH_DB=carteira_auth
PGSQL_CREDITO_DB=carteira_credito
PGSQL_DIVIDA_DB=carteira_divida
PGSQL_ACORDO_DB=carteira_acordo
PGSQL_BOLETO_DB=carteira_boleto
PGSQL_FRONTEND_DB=carteira_frontend
